/venv
.idea/
/coverage/
.vscode
.pytest_cache/
# **[__init__.pyc]*
__init__.pyc
__init__.pytest_cache
__pycache__
**.pyc**
.env
test_database_con.py
.1.env
.coverage
app/database/connect._name2.py
app/database/connect.backup.py
database_con.py